/*----- START VARIABLE----- */

:root {
    /* color */
    --color-header: #586654;
    --color-header-opacity: rgba(88, 102, 84, 1);
    --color-burger-menu: #543525;
    --color-offcanvas-header:rgba(229, 230, 219, 0.998) ;
    --color-offcanvas-tittle :#363636;
    --color-offcanvas-tittle-opacity :rgba(54, 54, 54, 0.849);
    --color-burger-text: #FFB26F;
    /* main */
    --color-bg-main: #e7e7e7e6;
    --color-txt-slider:#F2F2F2;
    --color-a-permit:blueviolet;
    /* section-1*/
    --color-bg-sect-1 : #6e8be2;
    --color-card-bg: rgb(234, 234, 227);
    --color-card-list-text:  #0b0b0b;
    --color-icon:#B197FC; 
    /*section-4*/
    --color-gradient-card:  linear-gradient(to right, rgba(99, 162, 65, 1), rgba(177, 215, 84, 1));

    /* size */
    --size-h1: calc(1.45rem + 0.8vw);
    --size-h2-offcanvas: clamp(1.2rem, 4vw, 1.35rem);
    --size-title-slider: calc(1rem + 0.3vw);
    --size-btn-slider:clamp(0.625rem, 3.1vw, 1rem);
    --size-P-slider:clamp(1rem, 2.2vw, 1.15rem);
    --size-title-2: calc(1.25rem + 1vw);
    --size-icons: 24px;  
    --size-P-main: calc(1rem + 0.3vw); 
    /*weight*/
    --weight-medium: 500; 
}
/* -------- END VARIABLE -----------------------*/

/* start: header */
@media screen and (min-width: 1200px) {
    .container-header {
        margin-left: 3rem!important;
        margin-right: 3rem!important;
    }
}
    
/*------menu burger open -------------------------------------*/
    .navbar-toggler:not(.collapsed) ~ .offcanvas-end .offcanvas-body {
        background-color: var(--color-header);
    }
    .navbar-nav .nav-link:hover {
        transform-origin: center;
    }
    .navbar-nav .nav-link:hover {
        transform: scale(1.15) translate(5px);

    } 
    .navbar-nav .nav-link.active:hover {
        transform: scale(1.15) translate(5px);
    }
/*------ end: menu burger open -------------------------------------*/
/* end: header */
