/*----- START VARIABLE----- */

:root {
    /* color */
    /* main */
    --color-header: #586654;
    --color-burger-menu: #543525;
    --color-burger-text: #FFB26F;
    --color-bg-main: #e7e7e7e6;
    --color-title-mentions:#215561;
    --color-txt-slider:#F2F2F2;
    /* size */
    --size-title-2: calc(1.25rem + 1vw); 
    --size-P-main: calc(1rem + 0.3vw); 
}
/* -------- END VARIABLE -----------------------*/
    body {
        background-color: var(--color-bg-main);
    }
    
    h2,
    h3,
    span {
        color: var(--color-title-mentions);
    }
    
/* start: main */

/* start: first-section */

    #mentions {
        position: relative;
        top: 6rem;
        width: 100%;
        height: 100%;
        background-color: var(--color-bg-main);
        font-size: var(--size-P-main);
    }

    @media screen and (min-width:500px) {
        #mentions {
            top: 7rem;
        }    
    }

    @media screen and (min-width: 768px) {
         #mentions {
             top: 8rem;
         }    
    }
    @media screen and (min-width: 990px) {
         #mentions {
             top: 9rem;
            }    
    }    
    @media screen and (min-width: 1200px) {
         #mentions {
             top: 10rem;
            }    
    }    
    

    #mentions nav {
        width: 100%;
        margin-top: 1.2rem;
    }
    #mentions nav li {
        border-bottom: 2px solid var(--color-burger-menu);
    }

    @media screen and (min-width: 500px) {
        #mentions nav {
            margin-top: 2rem;
        }
    }

    .container-mentions {
        position: relative;
        top: 7rem;
        left: 0;
        background-color: var(--color-bg-main);
        font-size: var(--size-P-main);
    }
    
    @media screen and (min-width: 500px) {
        .container-mentions {
            top: 8rem;           
        }
    }

    @media screen and (min-width: 768px) {
        .container-mentions {
            top: 10rem;           
        }   
    }

    @media screen and (min-width: 990px) {
        .container-mentions {
            top: 11rem;           
        }   
    }
    @media screen and (min-width: 1200px) {
        .container-mentions {
            top: 13rem;           
        }   
    }

    .container-mentions  h2 {
        font-size: calc(1.6rem + 1vw) ;
        text-decoration: underline;
        
    }

    @media screen and (min-width: 768px) {
        .container-mentions  h2 {
            margin-bottom: 4.5rem!important;
        }
    }
    
    .container-mentions  h3 {
        font-size: var(--size-title-2);
        
    }

/*custom les puces de ul */
    .custom-ul li {
        list-style-type: square!important;
    }

    .about a span {
        color: var(--color-txt-slider);
    }


