 /*----- START VARIABLE----- */
    :root {
        /* color */
        --color-header: #586654;
        --color-burger-menu: #8B572A;
        /* size */
        --size-h1: 1.8rem;
    }
    /* ----- END VARIABLE -------*/
    body {
        overflow-x: hidden;
        max-width: 1920px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button {
        font-family:"montserrat",Arial, Helvetica, sans-serif;
        font-weight: 700 ;
    }

    /* ----------------START HEADER ------------- */
    .logo {
        width: clamp(4rem, 10vw, 8rem);
    }

    h1{
        display: flex;
        justify-content: center;
        font-size: var(--size-h1)!important;
    }
    .nav-link {
        font-size: 1.35rem;
    }

    /* menu-burger */
    navbar-toggler-icon {
        background-image: var(--color-burger-menu)!important;
    }