 /*----- START VARIABLE----- */

    :root {
        /* color */
        --color-header: #586654;
        --color-burger-menu: #8B572A;
        --color-burger-text: #FFB26F;
        /* size */
        --size-h1: clamp(1.2rem, 9vw, 1.8rem);
    }
    
    /* ----- END VARIABLE -------*/
    body {
        overflow-x: hidden;
        max-width: 1920px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button {
        font-family:"montserrat",Arial, Helvetica, sans-serif;
        font-weight: 700 ;
    }

    /* ----------------START HEADER ------------- */
    header {
        height: 100%;
    }
    .logo {
        width: clamp(4rem, 10vw, 8rem);
    }

    h1{
        display: flex;
        justify-content: center;
        font-size: var(--size-h1)!important;
    }
    
    .nav-link {
        font-size: 1.35rem;
    }

    /* menu-burger */
    .burger{
        border: 2px solid var(--color-burger-menu);/*color a modifier*/
    }
    .burger:focus {
        box-shadow: none;
    }
    /*menu open */

    @media screen and (max-width: 500px) {
        .custom-offcanvas{
            width: 75%!important;
        }    
    }

    .offcanvas-body {
        background-color: transparent;
    }

    @media (max-width: 1200px) { 
        .navbar-toggler:not(.collapsed) ~ .offcanvas-end .offcanvas-body {
            background-color: var(--color-header);
        }
    } /* sizepourh1 changer/ color text burger menu / repo chgment de la couleur de ofcanvas sur le fond uniquement en ouverture bouton / add href sur le <a> de index.html */
    
    .offcanvas-title {
        /*changer couleur text et background*/
        color: black;
    }
    .navbar-nav .nav-link,
    .navbar-nav .nav-link.active {
        color: var(--color-burger-text);
    }
    /*penser a faire les effets hover pour le menu navigation*/
    .logo-fede{
        position: relative;/*rectifier les position pour affichage poisson */
        width: 100%;
        top: 50%;
        left:0;
        height: 46%;
        border: none;
    }
    .logo-fede img {
        position: absolute;
        width: 100%;
    }
    /*---menu-burger end------*/

    /*-----start main---------*/

    .bg-custom{ /*test de la class a remodifier*/
        height: 200px;
        background-color: var(--color-header);
    }
    /*-----end main---------*/