/*----- START VARIABLE----- */

    :root {
        /* color */
        --color-header: #586654;
        --color-header-opacity: rgba(88, 102, 84, 1);
        --color-burger-menu: #543525;
        --color-offcanvas-header:rgba(229, 230, 219, 0.998) ;
        --color-offcanvas-tittle :#363636;
        --color-offcanvas-tittle-opacity :rgba(54, 54, 54, 0.849);
        --color-burger-text: #FFB26F;
        /* main */
        --color-bg-main: #e7e7e7e6;
        --color-txt-slider:#F2F2F2;
        --color-a-permit:blueviolet;
        /* section-1*/
        --color-bg-sect-1 : #6e8be2;
        --color-card-bg: rgb(234, 234, 227);
        --color-card-list-text:  #0b0b0b;
        --color-icon:#B197FC; 
        /*section-4*/
        --color-gradient-card:  linear-gradient(to right, rgba(99, 162, 65, 1), rgba(177, 215, 84, 1));

        /* size */
        --size-h1: calc(1.45rem + 0.8vw);
        --size-h2-offcanvas: clamp(1.2rem, 4vw, 1.35rem);
        --size-title-slider: calc(1rem + 0.3vw);
        --size-btn-slider:clamp(0.625rem, 3.1vw, 1rem);
        --size-P-slider:clamp(1rem, 2.2vw, 1.15rem);
        --size-title-2: calc(1.25rem + 1vw);
        --size-icons: 24px;  
        --size-P-main: calc(1rem + 0.3vw); 
        /*weight*/
        --weight-medium: 500; 
    }
/* -------- END VARIABLE -----------------------*/

/*-----CLASSE GENRERAL --start--------------------*/

/* START:  Pour les titres---*/

        .title {
            text-decoration: underline;
            font-size: var(--size-title-slider);
        }

        .title-2 {
            text-decoration: underline;
            font-size: var(--size-title-2);
        }

        .title-3 {
            font-size: var(--size-title-2);
        }

/*------CLASSE GENRERAL-----END -------------------*/

    body {
        max-width: 1920px;
        /* overflow: hidden!important;  */
    }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        button {
            font-family:"montserrat",Arial, Helvetica, sans-serif;
            font-weight: 700 ;
        }

/* ----------------START HEADER ------------- */
        .logo {
            width: clamp(5rem, 10vw, 9rem);
        }

        .container-header {
            margin-left: 0rem!important;
            margin-right: 0rem!important;
        }

        @media (min-width: 500px) and (max-width: 1199px) {
            .container-header {
            margin-left: 1rem!important;
            margin-right: 1rem!important;
            }   
        }
        @media (min-width: 768px) and (max-width: 1199px) {
            .container-header {
            margin-left: 3rem!important;
            margin-right: 3rem!important;
            }   
        }
        @media (min-width: 1200px){
            .container-header {
            margin-left: 1rem!important;
            margin-right: 1rem!important;
            }   
        }
       
        h1{
            font-size: var(--size-h1)!important;
            margin-bottom: 0!important;
        }

        .custom-link {
            color: inherit;
            text-decoration: none;
          }
        
        .navbar {
            background-color: var(--color-header-opacity);
            
        }

        .nav-link {
            font-size: 1.35rem;
        }
        
/*  START menu-burger------------------------------------------------------------ */
        .burger{
            border: 2px solid var(--color-burger-menu);
        }
        .burger:focus {
            box-shadow: none;
        }
        .navbar-nav .nav-link,
        .navbar-nav .nav-link.active {
            position: relative;
            color: var(--color-burger-text);
            transition: transform 0.42s ease-in-out;
        }

/*------menu burger open -------------------------------------*/
  
        @media (max-width: 1200px) { 
            .navbar-toggler:not(.collapsed) ~ .offcanvas-end .offcanvas-body {
                background-color: var(--color-header);
            }
        }

        @media screen and (max-width: 500px) {
            .custom-offcanvas{
                width: 75%!important;
            }    
        }

        .offcanvas-header {
            background-color: var(--color-offcanvas-header);
        }

        .offcanvas-title {
            color: var(--color-offcanvas-tittle);
            font-size: var(--size-h2-offcanvas)!important
        }
        .offcanvas-body {
            overflow: hidden!important;
         
        }
        
        .nav-link {
            font-size: var(--size-h2-offcanvas)!important;
        }
/* START : effet hover sur menu navigation--------------------------*/

/* START : création line en dessous menu navigation---*/
        .navbar-nav .nav-link::after,
        .navbar-nav .nav-link.active::after {
            content: '';
            position: absolute;
            width: 95%;
            bottom: 8%;
            left: 3%;
            transform: scale(0);
            height: 2px;
            background-color: var(--color-burger-text);     
            transition: transform 0.35s ease-in-out;
            transform-origin: center;
        }   

/* END : création line en dessous menu navigation---*/
    
        .navbar-nav .nav-link:hover,
        .navbar-nav .nav-link.active:hover {
            padding: 0.5rem;
            transform: scale(1.15);
        }

        .navbar-nav .nav-link:hover::after,
        .navbar-nav .nav-link.active:hover::after {
        transform: scale(1);
        }

        @media screen and (max-width : 1200px) {
            .navbar-nav .nav-link {
                margin-top: 0.5rem;
            }

            .navbar-nav .nav-link:hover::after,
            .navbar-nav .nav-link.active:hover::after {
                transform-origin: left;
            }
        }
        .navbar-nav .nav-link.active:hover {
            transform: scale(1.15) translateX(-15px);
        }
        
        @media (max-width: 1200px) {
            .navbar-nav .nav-link:hover{
                transform: scale(1.15) translateX(10px);
            }

            .navbar-nav .nav-link.active:hover {
                transform: scale(1.15) translateX(10px); 
            }
        }

/* START : effet hover sur menu navigation--------------------------*/
        .logo-fede{
            position: relative;
            display: block;
            width: 100%;
            top:0;
            left:0;
            height: 100%;
            border: none;
        }
        .logo-fede img {
            width: 100%;
            filter: opacity(0.5);
        }
/* end : effet hover sur menu navigation--------------------------*/
/* end : menu burger open ------------------------------------------------*/
/*---menu-burger end--------------------------------------------------*/


/*-----start main------------------------------------------------------*/

        main {
            background-color: var(--color-bg-main);
            width: 100%!important;
            height: 100%!important;
        }

/* start: background derriere header et slider */

        .bg-custom {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: calc(61% + 20vw);
            background-color: #586654;
            clip-path: polygon(100% 0, 100% 100%, 0 65%, 0 0);
        }

        @media screen and (min-width:500px) {
        .bg-custom {
            height: calc(75% + 20vw);
        }
        } 
/* end: background derriere header et slider

/* start: slider--------------------------------------------------------------- */
        .carousel {
            top: clamp(6.5rem, 12.5vw, 10.65rem);
            left: 0;
            width:48%;
            height: 100%;
        }

        @media screen and (max-width:1200px) {
            .carousel {
                width:50%;
               
            }
        }

        @media screen and (max-width:1000px) {
            .carousel {
                width: 54%;
               
            }
        }
        
        @media screen and (max-width:970px) {
            .carousel {
                width: 57%;
                
            }
        }

        @media screen and (max-width:963px) {
            .carousel {
                width: 58%;
               
            }
        }

        @media screen and (max-width:900px) {
            .carousel {
                width:64%;
               
            }
        }

        @media screen and (max-width:862px) {
            .carousel {
                width:68%;
               
            }
        }

        @media screen and (max-width:756px) {
            .carousel {
                width:76%;
               
            }
        }

        @media screen and (max-width:672px) {
            .carousel {
                width: 90%;
               
            }
        }

        .carousel-caption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 31%;
            font-size: var(--size-P-slider);
            background-color: rgba(0, 0, 0, 0.55);
            color: var(--color-txt-slider);
        }
    
        .custom-slider {
            width: clamp(60%, 2.9vw, 90%);
        }

        .container-btn {
            position: relative;
            z-index: 5;
            width: 30%;
        }

        .custom-btn {
            position: relative;
            color: var(--color-txt-slider);
            border-color: var(--color-txt-slider);
            background-color: transparent;
            overflow: hidden;
            padding: 0.5rem 1rem; 
            border-radius: 25px;
            transition: all 0.25s ease;
            font-size: var(--size-btn-slider);
            box-shadow: 0 0px 6px rgba(13, 13, 15, 075);
        }

/* start  effet hover pour bouton ---*/
        .custom-btn::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            transform: scaleX(0);
            background-color: var(--color-header); 
            border-radius: 25px;
            transition: transform 0.35s ease-in-out;
            font-size: var(--size-btn-slider);
            transform-origin: left;
            z-index: -1;
        }


        .custom-btn:hover::after {
            width: 100%;
            transform: scaleX(1);
        }
        
        
        @media screen and (max-width: 625px) {
            .custom-btn {
                padding:calc(0.25rem + 0.3vw);
            }
        }

          .custom-btn:hover{
            border-radius: 25px;
          }

          .custom-btn:focus, .custom-btn:active,
          .custom-btn:focus::after, .custom-btn:active::after {
            background-color:var(--color-header);
            box-shadow:0 2px 6px rgba(0, 0, 0, 0.55) inset, 0 0px 10px  var(--color-txt-slider);
            transform: translateY(1px);
          }
/* End effet hover buton ----------*/

/*pour éviter la supperposition pour hover fonctionnel dans sa totalité*/
         .carousel-control-next {
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            right: 0;
            height: 37%;
            z-index: 1;
        }
         .carousel-control-prev {
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            left: 0;
            height: 37%;
            z-index: 1;
        }
        .size-arrow {
            width: 69%;
            height: 69%;
        }
/* end: slider -------------------------------------------------------------*/

/*start section 1 => plans d eau et réglementation */
        .custom-svg {        
            position: relative;
            width: 100%;
            top: 10rem;
        }

        @media screen and (max-width: 920px) {
            .custom-svg {        
                top: 9.8rem;
                }
        }

       .water-container {
        position: relative;
        background-color: var(--color-bg-sect-1);
        top: 9.7rem;
        height: 100%!important;
       }

       .water-intro {
        color: #363636; 
        font-size: calc(1rem + 0.4vw);
       }

       .water-intro p {
         color: #24293E; 
         font-weight: var(--weight-medium);
       }

/* start cards -----------------*/

        @media screen and (min-width: 768px) {
            .water-cards {
                margin-top: 5rem!important;   
            }
        }

        .card-container {
            width: 18rem!important;
            box-shadow:  2px 1px 9px 1px rgba(0, 0, 0, 0.57);
            width:90%!important;
        }
        
        @media screen and (min-width: 781px) {
            .card-container {
                width: 45%!important;
            }
        }

        @media screen and (min-width: 1200px) {
            .card-container {
                width: 30%!important;
            }
        }

        .card-body-water,
        .list-group-water,
        .list-group-item-water {
            background-color: var(--color-card-bg);
        }

        .card-title-water {
            font-size: calc(1.275rem + .3vw);
        }

        .card-subtitle-water {
            font-size: calc(1rem + .3vw);
        }

/*start effect hover cards-----------*/

        .container-img {
            overflow: hidden;
        }

        .card-container img {
            transition: transform 0.5s ease-in-out;
        }

        .card-container img:hover {
            transform: scale(1.25);
        }

/*>End effect hover cards-----------*/

/*>start effect hover btn -----------*/
  
        .custom-card-link {
            box-shadow:  2px 1px 9px 1px rgba(0, 0, 0, 0.57);
            width: 100%;
        }

        .custom-card-link:focus,
        .custom-card-link:active,
        .custom-btn:checked {
            background-color:var(--color-header)!important;
            box-shadow:0 2px 6px rgba(0, 0, 0, 0.55) inset, 0 0px 10px  var(--color-txt-slider);
            transform: translateY(1px);
            border-color: var(--color-header)!important;
        }
/*>End effect hover btn -----------*/

        .card-header-water {
            background-color: #2d6e80de;
            min-height: 5rem;
        }
        
        .color-item {
            color: var(--color-card-list-text);
            font-weight: var(--weight-medium);
        }

        .fish-icon,
        .lightbulb-icon,
        .wheather-icon {
            font-size: var(--size-icons); 
        }

        .fish-icon,
        .lightbulb-icon {
            color: var(--color-icon); 
        }

/*----  effect hover icon -----*/
        .fa-fish-fins,
        .fa-lightbulb {
            filter: drop-shadow(0 1px 12px #271010);
        }
        
       
        .list-group-item-water span {
            display: flex;
            color: var(--color-card-list-text);
            font-weight: 800;
        }

        .card-link-info {
            font-size: calc(1.1rem + 0.2vw);
            font-weight: var(--weight-medium);
        }

        .card-link-weather {
            font-size: calc(1rem + 0.5vw);
        }

        .wheather-icon {
            color: #efa00b; 
        }
    
/* END : cards -----------------*/
        .fish-svg {
            position: relative;
            top: 11rem;
            left: 49%;
            transform: translate(-50%, -50%);
            width: 17rem;
            height: 13rem;
            background: url(../../img/illustration/LOGO-fede-peche.svg) no-repeat;
            background-size: cover;
            background-position: center;
            z-index: 1;
        }

        @media screen and (max-width: 500px) {            
            .fish-svg { 
                position: relative;
                top: 7rem;
                left: 49%;            
                width: 10rem;
                height: 10rem;
            }
        }

        @media screen and (min-width: 768px) {
            .fish-svg {
                top: 13rem;
                width: 18rem;
                height: 18rem;
            }
        }

        @media screen and (min-width: 850px) {
            .fish-svg {
                top: 14rem;
                width: 18rem;
                height: 18rem;
                left: 47%;
            }
        }

        .custom-svg-bottom {
            position: relative;
            top: 9rem;
            left: 0; 
            width: 100%;
        }
/*--end -- section 1 => plans d eau et réglementation */ 

/*--start -- section 2 => event--------*/ 

        #Tarifs {
            position: relative;
            top: 3rem;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .custom-tarif-img {
            position: absolute;
            top: 59%;
            left: 0;
            width: 100%;
            height: 90%;
        }
        
        .custom-tarif-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .permit-intro {
            position: relative;
            top: 5rem;
        }

        .permit-intro h2 {
            border-bottom: 4px solid var(--color-a-permit);
            line-height: calc(4rem + 0.3vw);
        }

        .permit-intro p,
        .permit-intro div p {
            font-size: var(--size-P-main);
        }
        .permit-intro div p {
            font-weight: var(--weight-medium);
        }

        .permit-intro  div a {
            font-weight: var(--weight-medium);
            color: var(--color-a-permit);
            transition: all 0.10s ease-in-out;
            text-shadow: 0 0px 6px var(--color-bg-main);
        }

        .permit-intro  div a:hover {
            font-weight: 750;
            color: #C14E2A;
        }

/* start -----format mobile et tablette ----*/
        .card-tarif {
            position: relative;
            top: 6rem!important;
            width: 100%;
            background-color: var(--color-bg-main); 
        }
        
        .card-tarif-img {
            position: relative;
            width: 57%;
            height: 100%;
            background-color: var(--color-bg-main)
        }

        .card-tarif-img img {
            max-width: 250px;
            height: 250px;
                   
        }

        .card-container-permit {
            width: 100%;
            height: 100%;
        }
        
        .card-body-tarif {
           background-color:  var(--color-bg-main);
           max-width: 100%;
        }

        @media screen and (min-width: 768px) {
            .card-body-tarif {
                max-width: 68%;
            }
        }

        .text-link {
            font-size: var(--size-P-main);
        }

/*---start -- effect hover btn -----tarif */
        .btn-tarif {
            position: relative;
            background-color: transparent;
            padding: 0.45rem;
            text-decoration: none;
            color: var(--color-bg-sect-1);
            border: 1px solid var(--color-bg-sect-1);
            border-radius: 10px;
            box-shadow:  2px 1px 8px 2px rgba(0, 0, 0, 0.57);
            z-index: 1;       
        }

        .btn-tarif::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            color: var(--color-txt-slider);
            background-color: var(--color-bg-sect-1);
            clip-path: circle(4.8% at 0 0);
            width: 100%;
            height: 100%;
            border: 1px solid;
            border-radius: 10px;           
            transform-origin: center;
            transition: all 0.35s ease-in-out; 
            z-index: -1;   
        }

        .btn-tarif:hover::after {            
            clip-path: circle(141.4% at 0 0);
        }

        .btn-tarif:hover {         
           color: var(--color-txt-slider);        
        }

        .btn-tarif:focus,
        .btn-tarif:active,
        .btn-tarif:checked,
        .btn-tarif:checked::after,
        .btn-tarif:active::after{
            color: var(--color-txt-slider);
            box-shadow:0 2px 6px rgba(0, 0, 0, 0.55) inset;
            transform: translateY(1px);
            background-color: var(--color-bg-sect-1);
            clip-path: circle(141.4% at 0 0);
        }
        /*--End --- effect hover btn -----tarif */
    /* end -----format mobile et tablette -----*/

/* start --format desktop*/
        .fishing-permit-container {
            top: 13rem;
            width: 100%;
            height: 100%;
        }

        .fishing-permit {
            position: relative;
            width: 260px;
            height: 380px;
            flex-wrap: wrap;
        }

        .face {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: 0.5s ease-in-out;
        }
        .front {
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px black;/*a rectifier */
        }

        .front img {
            position: absolute;
            object-fit: cover;
            width: 100%;
        } 

        .back {
            transform: perspective(600px) rotateY(180deg);
            background-color: #24293E;
            padding: 15px;
            color: var(--color-txt-slider);
        }

        .back ul li {
        font-size: 1rem;
        }


        .back h3 {
            letter-spacing: 2px;
        }

        .back p {
            font-size: 1.1rem;
            letter-spacing: 1px;
        }

        /*--Start----hover card permit---*/

        .fishing-permit:hover .front {
            transform: perspective(600px) rotateY(180deg);
        }

        .fishing-permit:hover .back {
            transform: perspective(600px) rotateY(360deg);
        }

        /*--End----hover card permit---*/
    /* -end --format desktop*/  
/*--end -- section 2 => tarif--------*/ 

/*--start -- section 3 => evenement --------*/ 
        #Evenement {
            position: relative;
            top: calc(13rem + 0.3vw);
            left: 0;
            width: 100%;
            height: 100%;
            /* background-color: #C14E2A; a rectifier */
        }

        @media screen and (min-width: 991px) {
            #Evenement {
                top: calc(30rem + 0.3vw);
            }
        }

        #Evenement > h2 {
            border-bottom: 4px solid var(--color-a-permit);
            line-height: calc(3rem + 0.3vw);
        }
               
        .container-event {
            width: 100%;
        }

        @media screen and (min-width: 992px) {
            .container-event {
                width: 70%;
            }
        }

        .box-rempoissonement {
            background: url("../../img/evenement/truite-Web.webp")no-repeat;     
        }
        
        .box-peche {
            background: url("../../img/evenement/this-is-our-first-fish-season-Web.webp")no-repeat;
            background-position: center top;  
        }

        .box-nettoyage {
            background: url("../../img/nettoyage/groupe-personnes-nettoie-ordures-sortie-foret-au-printemps-webP.webp")no-repeat;  
        }

        .box-rempoissonement,
        .box-peche,
        .box-nettoyage {
            position: relative;
            overflow: hidden;
            border: 2px solid black;
            background-position: center;
            background-size: cover;   
            height: calc(5rem + 8vw);
            width: 100%;  
        }

        .box-rempoissonement::before,
        .box-peche::before,
        .box-nettoyage::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.35);
            z-index: 1;
          }

        .box-date {
            z-index: 2;
            background-color: #d8a355;
            border-right:2px solid #0b0b0b;
            width: calc(5rem + 8vw);
        }

        .box-date p {
            font-size:calc(1.45rem + 0.3vw);
        }

        .box-title {
            text-align: center;
            z-index: 2;
            color: var(--color-txt-slider); 
            width: 100%;
        }

        .box-title h3 {
            font-size: calc(18px + 0.3vw);
            text-shadow: 2px 2px 2.5px rgba(0, 0, 0, 1);
        }  

        @media screen and (min-width: 472px) {
            .box-title h3 {
               
                font-size: calc(1.65rem + 0.3vw);
            }   

            }
            .text-event {
                font-size: var(--size-P-main);
            }

            .btn-event {
                position: relative;
                /* background-color: rgb(118, 116, 116); */
                background-color: rgba(88, 102, 84, 1);
                padding: 0.8rem;
                text-decoration: none;
                color: var(--color-bg-main);
                border: 1px solid gray;
                border-radius: 15px;
                box-shadow: 0px -2px 1.3px 0px rgba(242, 242, 242, 0.48) inset, 5px 5px 8px rgba(0, 0, 0, 0.58);
                transition: all 0.2s ease-in-out;
                z-index: 1;       
            }
   /* start ---btn-event effect hover and click*/ 
            .btn-event:hover {         
               color: var(--color-txt-slider);        
            }
    
            .btn-event:focus,
            .btn-event:active,
            .btn-event:checked,
            .btn-event:checked::after,
            .btn-event:active::after {
                color: var(--color-txt-slider);
                filter: drop-shadow(0);
                box-shadow:0px 1.5px 5px 0px rgba(0, 0, 0, 0.58) inset, 0px 3px 4px rgba(0, 0, 0, 0.58); 
                transform: translateY(2px);
            }
            

    /* End ---btn-event effect hover and click*/ 
        
/*--end -- section 3 => evenement --------*/ 

/*--start -- section 4 => qui sommes-nous  --------*/ 
        #Sommes-nous {
            position: relative;
            top: calc(16rem + 0.3vw);
            left: 0;
            background-color: var(--color-bg-main);
        }

        @media screen and (min-width: 990px) {
            #Sommes-nous {
                top: calc(34rem + 0.3vw);
                left: 0;
                width: 100%;
                height: 100%;
            }           
        }

        .container-Sommes-nous {
            width: 100%;
            height: 100%;
        }

        .container-Sommes-nous h2 {
            border-bottom: 4px solid rgb(58, 113, 58);
            line-height: calc(3rem + 0.3vw);
        }

        .content-text {
            position: relative;
            margin-top: 4rem;
            max-width: 90vw; 
            border-radius: 10px;
            background:rgba(35, 87, 30, 0.655);
            box-shadow: 1px 2px 15px 3px rgba(0, 0, 0, 0.58), 0px -1px 2px 2px #ffffff inset;      
        }

        @media  screen and (min-width: 500px) {
            .content-text {
                max-width: 500px!important;
            }           
        }

        @media  screen and (min-width: 768px) {
            .content-text {
                max-width: 600px!important;
            }           
        }
       

        .content-text img {
            position: absolute;
            width: 100%; 
            width: 100px;
            top: -3rem;
            right: -3rem;
            height: 100px;
            border-radius: 50%;  
            object-fit: cover;    
        }

        .content-text p {
            padding: 10px;
            font-size: var(--size-P-main);
        }

        blockquote {
            position: relative;
            font-style: italic;
            border-left: 5px solid var(--color-bg-main);
            padding: 1rem;
        }

        blockquote:before,
        blockquote:after {
            color: var(--color-bg-main); 
            font-size: 4rem; 
            position: absolute;
        }

        blockquote:before {
            content: "“"; 
            top: -2rem; 
            left: -7px; 
        }

        blockquote:after {
            content: "”";
            bottom: -3rem; 
            right: 8px; 
        }
/*deuxieme partie de qui sommes-nous avec les statistiques de l'association */

        .statistics-uppa {
            width: 90vw;
            padding: 0.5rem;
            margin-top: 5rem;
            background: linear-gradient(to right, rgba(99, 162, 65, 1), rgba(177, 215, 84, 1));
            border-radius: 10PX;
        }
    

        .statistics-uppa p {
            margin: 0;
            padding: 0;
            font-size: var(--size-P-main);
        }

        @media screen and (min-width: 400px) {
            .statistics-uppa  {
                width: 79vw;
            }       
        }
        @media screen and (min-width: 600px) {
            .statistics-uppa  {
                width: 67vw;
            }       
        }
        @media screen and (min-width: 900px) {
            .statistics-uppa  {
                width: 51vw;
            }       
        }

        .container-about-card {
            width: 100%; 
            height: 100%;
            padding: 0.7rem;
        }
        @media screen and (min-width: 338px) {
            .container-about-card {
                max-width: 800px;
            }
        }

        .card-adherent,
        .card-benevole,
        .card-rdv {
            position: relative;
            border: 3px solid hsl(0, 100%, 100%);
            box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.55);
            font-size: var(--size-P-main);
            padding: 0.1rem;
        }
        
        .card-adherent p:first-of-type,
        .card-benevole p:first-of-type,
        .card-rdv p:first-of-type {
            text-decoration: underline;
            font-weight: 900;
            color: rgb(85, 26, 180);
            font-size: var(--size-title-2);
            padding-top: 1rem;
        }

        @media screen and (min-width: 338px) {
            .card-adherent,
            .card-benevole,
            .card-rdv {
                width: calc(7rem + 2vw)!important;
            }          
        }

        @media screen and (min-width: 450px) {
            .card-adherent,
            .card-benevole,
            .card-rdv {
                padding: 0.7rem;
            }    
        }

        .img-adherent,
        .img-rdv,
        .img-benevole {
            position: absolute;
            top: 0%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);        
            width: 3.5rem;
            height: 3.5rem;
        }

        .img-adherent {
            background-color: #B1D754;
        }
        .img-rdv {
            background-color: var(--color-bg-sect-1);
        }
        .img-benevole {
            background-color: #013329;
        }
      


/*--end -- section 4 => qui sommes-nous  --------*/ 
/*-----end main-------------------------------------------------------------*/
 /* comm git penser a changer les accents */